<h2>Product created!</h2>

<p>
  <%= @greeting %> <%= @user.name %>, 
  the product <%= @product.productName %> has been succesfully created,
</p>

<h4> Here's the information of your product:</h4>
<ul>
  <li><%= @product.productName %></li>
  <li><%= @product.brand %></li>
  <li><%= @product.quantity %></li>
  <li><%= @product.price %></li>
</ul>

<h4>Trovit.com</h4>